<!-- <div>
  <h2>Lista de usuarios</h2>
</div> -->

<table mat-table [dataSource]="_users" class="full-width-table">

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell class="w-10" *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element">{{ element?.id }}</td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell class="w-20" *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">{{ element?.email }}</td>
  </ng-container>

  <!-- Firsname Column -->
  <ng-container matColumnDef="first_name">
    <th mat-header-cell class="w-20" *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.first_name }}</td>
  </ng-container>

  <!-- Lastname Column -->
  <ng-container matColumnDef="last_name">
    <th mat-header-cell class="w-20" *matHeaderCellDef>Apellido</th>
    <td mat-cell *matCellDef="let element">{{ element.last_name }}</td>
  </ng-container>

  <!-- Avatar -->
  <ng-container matColumnDef="avatar">
    <th mat-header-cell class="w-20" *matHeaderCellDef>Avatar</th>
    <td mat-cell *matCellDef="let element">
      <figure>
        <img [src]="element.avatar" />
      </figure>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr class="cursor-pointer" mat-row *matRowDef="let row; columns: displayedColumns" (click)="selectedUser(row)"></tr>
</table>
