<!-- <mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="container-sidenav" mode="side">
    <h3>Opciones</h3>
    <div *ngFor="let item of menu">
        <button (click)="goToPath(item.path)" class="item-menu" mat-flat-button>{{item.name}}</button>
    </div>

    <figure class="user-icon">
      <img src="assets/user.png" />
    </figure>
  </mat-drawer>
  <figure class="menu-icon" (click)="drawer.toggle()">
    <img src="assets/menu.png" />
  </figure>
  <router-outlet></router-outlet>
</mat-drawer-container> -->

<mat-sidenav-container class="example-container">
  <mat-sidenav
    #sidenav
    class="container-sidenav"
    mode="side"
    [(opened)]="opened"
  >
    <h3>Opciones</h3>
    <div *ngFor="let item of menu">
      <button (click)="goToPath(item.path)" class="item-menu" mat-flat-button>
        {{ item.name }}
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="header">
      <figure class="menu-icon" (click)="sidenav.toggle()">
        <img src="assets/menu.png" />
      </figure>
      <div>
        <h2>Prueba técnica de Cristhian Delgado</h2>
      </div>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
